---
import { posts } from '../../data';
import SectionHeading from '../ui/SectionHeading.astro';
import BlogCard from '../cards/BlogCard.astro';
import Button from '../ui/Button.astro';
---

<section class="py-16 md:py-20 bg-light">
  <div class="container-main">
    <div class="flex flex-col sm:flex-row sm:items-end sm:justify-between gap-4 mb-10">
      <SectionHeading title="Latest From Blog" subtitle="News & Tips" align="left" class="mb-0" />
      <Button href="/blog" variant="outline" size="sm" class="self-start sm:self-auto">
        View All Posts
      </Button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {posts.map((post) => (
        <BlogCard post={post} />
      ))}
    </div>
  </div>
</section>
