---
import BrushDivider from '../../ui/BrushDivider.astro';

const brands = [
  {
    name: 'PetCare',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/05/brand-1.svg',
  },
  {
    name: 'LOVE DOG',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/06/brand-2.svg',
  },
  {
    name: 'DogCaty',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/06/brand-3.svg',
  },
  {
    name: 'Parrot',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/06/brand-4.svg',
  },
  {
    name: 'PET CARE',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/06/brand-6.svg',
  },
  {
    name: 'Pet Shop',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/06/brand-7.svg',
  },
    {
    name: 'PET CARE',
    image: 'https://demo2.themelexus.com/ziggy/wp-content/uploads/2022/05/brand-5.svg',
  },
];
---

<section class="bg-white pb-16 md:pb-24">
  <BrushDivider class="text-white" flip />

  <div class="container-main pt-6 md:pt-10">
    <div class="flex flex-wrap items-center justify-center gap-6 md:gap-10 lg:gap-14">
      {brands.map((brand) => (
        <div class="flex items-center justify-center opacity-80 hover:opacity-100 transition-opacity duration-300">
          <img src={brand.image} alt={brand.name} class="h-14 sm:h-16 md:h-20 lg:h-24 w-auto object-contain" loading="lazy" />
        </div>
      ))}
    </div>
  </div>
</section>
